body {
  margin: 0;
  padding: 0;
}

.wrp5 {
  background-color: #b9b9b9;
  text-align: center;
  overflow: auto;
  width: 100vw;
  height: 100vh;
}

.box5 {
  background-color: pink;
  color: white;
  display: inline-block;
  vertical-align: middle;
  width: auto;
  height: auto;
  max-width: 90%;
  max-height: 90%;
}

.wrp5::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  margin-left: -0.25em;
}